.layout {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.rightContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
}
