.functionCard {
  width: 100%;
  min-height: 20rem;
}

.functionCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.functionCardBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.functionCardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.functionName {
  font-size: 1rem;
}

.functionDescription {
  font-size: 0.8rem;
}

.functionInputOutputTypes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.inputTypeTag,
.outputTypeTag {
  font-size: 11px;
  cursor: help;
  border-radius: 6px;
  font-weight: 500;
  padding: 2px 8px;
}

.functionCompileButton,
.functionExecuteButton {
  font-size: 0.9rem;
}

