.functionCard {
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-height: 17rem;
  padding: 1rem;
  border-radius: 1rem;
}

.functionCard:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease-in-out;
}

.functionCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  gap: 1rem;
}

.functionCardBody {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.functionCardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.functionName {
  font-size: 1rem;
}

.functionDescription {
  font-size: 0.8rem;
}

.functionInputOutputTypes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
}

.inputTypeTag,
.outputTypeTag {
  font-size: 11px;
  cursor: help;
  border-radius: 6px;
  font-weight: 500;
  padding: 2px 8px;
}

.functionCompileButton,
.functionExecuteButton {
  font-size: 0.9rem;
}
