.functionsPageContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.functionsPageHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headerInfo h1 {
  margin-bottom: 0px;
}

.headerInfo p {
  color: var(--color-text-secondary);
  margin: 0;
  font-size: 16px;
}

.filtersSection {
  padding: 0.75rem;
  background: var(--color-background-secondary);
  border-radius: var(--border-radius-lg);
}

.filterSelect {
  width: 100%;
}

.filterCount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 32px;
  color: var(--color-text-secondary);
  font-size: 14px;
}

.functionsGrid {
  padding: 0rem;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
