.typeBuilderCard {
  margin-bottom: 16px;
}

.cardContent {
  width: 100%;
}

/* .formItem {
  margin-bottom: 12px;
} */

.typeSelect {
  width: fit-content !important;
  min-width: 120px !important;
}
